.news {
  margin-bottom: 208px;

  .container {
    max-width: 1320px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .news_container {
    h3 {
      color: #262d3a;
      font-size: 56px;
      font-style: normal;
      font-weight: 800;
      line-height: 63px; /* 112.5% */
      margin-bottom: 44px;
    }

    .news_blog {
      display: flex;
      gap: 20px;
      ul {
        //   display: flex;
        //   max-width: 850px;
        //   width: 100%;
        //   flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        li {
          border: 1px solid #e1e1e1;
          max-width: 424px;
          width: 100%;
          padding: 40px 40px 55px 40px;
          span {
            display: block;
            color: #262d3a;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 32px;
          }

          p {
            color: #262d3a;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 68px;
          }

          a {
            text-decoration: underline;
            color: $darkBlue;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }

      .news_right {
        background: $white;
        box-shadow: 0px 24px 54px 0px rgba(0, 104, 174, 0.1);
        max-width: 413px;
        width: 100%;
        padding: 58px 42px 40px 35px;

        h4 {
          color: $darkBlue;
          font-size: 36px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 45px;
        }

        img {
          max-width: 352px;
          width: 100%;
          height: 307px;
          margin-bottom: 61px;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            width: 100%;
            background: #f3f7fa;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 16px 0px;
            color: $darkBlue;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .news {
    margin-bottom: 180px;

    .news_container {
      h3 {
        color: #262d3a;
        font-size: 56px;
        font-style: normal;
        font-weight: 800;
        line-height: 63px; /* 112.5% */
        margin-bottom: 44px;
      }

      .news_blog {
        display: flex;
        flex-direction: column;
        gap: 20px;
        ul {
          //   display: flex;
          //   max-width: 850px;
          //   width: 100%;
          //   flex-wrap: wrap;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          li {
            border: 1px solid #e1e1e1;
            max-width: 900px;
            width: 100%;
            padding: 40px 40px 55px 40px;
            span {
              display: block;
              color: #262d3a;
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              margin-bottom: 32px;
            }

            p {
              color: #262d3a;
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              margin-bottom: 68px;
            }

            a {
              text-decoration: underline;
              color: $darkBlue;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
          }
        }

        .news_right {
          background: $white;
          box-shadow: 0px 24px 54px 0px rgba(0, 104, 174, 0.1);
          max-width: 900px;
          width: 100%;
          padding: 58px 42px 40px 35px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          h4 {
            color: $darkBlue;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 45px;
          }

          img {
            max-width: 352px;
            width: 100%;
            height: 307px;
            margin-bottom: 61px;
          }

          div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            button {
              width: 100%;
              background: #f3f7fa;
              border: none;
              cursor: pointer;
              outline: none;
              padding: 16px 0px;
              color: $darkBlue;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
    .news {
        margin-bottom: 90px;
    
        .news_container {
          h3 {
            font-size: 46px;
            margin-bottom: 30px;
          }
    
          .news_blog {
            display: flex;
            flex-direction: column;
            gap: 10px;
            ul {
              //   display: flex;
              //   max-width: 850px;
              //   width: 100%;
              //   flex-wrap: wrap;
              display: grid;
              grid-template-columns: repeat(1, 1fr);
              li {
                border: 1px solid #e1e1e1;
                max-width: 550px;
                width: 100%;
                padding: 15px;
                span {
                  font-size: 12px;
                  margin-bottom: 22px;
                }
    
                p {
                  color: #262d3a;
                  font-size: 18px;
                  margin-bottom: 48px;
                }
    
                a {
                  font-size: 13px;
                }
              }
            }
    
            .news_right {
              max-width: 550px;
              width: 100%;
              padding: 15px;
    
              h4 {
                font-size: 28px;
                text-align: center;
                margin-bottom: 35px;
              }
    
              img {
                max-width: 352px;
                width: 100%;
                height: 307px;
                margin-bottom: 41px;
              }
    
              div {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                button {
                  width: 100%;
                  background: #f3f7fa;
                  border: none;
                  cursor: pointer;
                  outline: none;
                  padding: 16px 0px;
                  color: $darkBlue;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                }
              }
            }
          }
        }
      }
}
