.carausel {
  margin-bottom: 380px;
  .container {
    max-width: 1320px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }

  .carausel_blog {
    position: absolute;
    width: 148%;
    top: -85px;
    .carausel_list {
      left: 0;
      display: flex;
      overflow: hidden;
      gap: 20px;
      width: 100%;
      margin-bottom: 16px;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      li {
        top: 0;
        max-width: 304px;
        width: 100%;
        flex-shrink: 0;
        padding: 35px 65px 54px 30px;
        border: 1px solid $white;
        background: $white;
        box-shadow: 0px 24px 54px 0px rgba(0, 104, 174, 0.06);
        transition: 0.5s ease;

        &:hover {
          max-width: 432px;
          width: 100%;
          background: #0068ae;
          box-shadow: 0px 24px 54px 0px rgba(0, 104, 174, 0.06);

          span {
            color: $white;
          }

          p {
            color: $white;
          }

          a {
            display: block;
            color: $white;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration-line: underline;
          }
        }

        span {
          color: $darkBlue;
          font-size: 60px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
          margin-bottom: 9px;
        }

        p {
          color: $darkBlue;
          font-size: 22px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px; /* 127.273% */
          margin-bottom: 21px;
        }

        a {
          display: none;
        }
      }
    }

    .carausel_btn_blog {
      display: flex;
      align-items: center;
      gap: 24px;
      button {
        border: none;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: #fff;
        stroke-width: 1px;
        stroke: #fff;
        filter: drop-shadow(0px 24px 54px rgba(0, 104, 174, 0.14));
        padding: 12px;
        box-shadow: 0px 24px 54px 0px rgba(0, 104, 174, 0.1);
        cursor: pointer;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
