.online {
    max-width: 631px;
    width: 100%;
    margin-bottom: 44px;
    
    h3 {
        color: #262D3A;
        font-size: 56px;
        font-style: normal;
        font-weight: 800;
        line-height: 63px; /* 112.5% */
    }
}