.cards_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  li {
    background: #fff;
    box-shadow: 0px 24px 54px 0px rgba(0, 104, 174, 0.1);
  }

  .cards_item {
    grid-column: span 2;
    padding: 48px 38px 45px 40px;
    display: flex;
    justify-content: space-between;

    .cards_list_left {
      max-width: 325px;
      width: 100%;

      h3 {
        color: $darkBlue;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 8px;
      }

      p {
        color: #262d3a;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 35px;
      }

      .cards_list_left_span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          color: $darkGreen;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-bottom: 2px;
        }

        p {
          color: #262d3a;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 0;
        }
      }
    }

    img {
      max-width: 188px;
      width: 100%;
      height: 193px;
    }
  }
  .cards_item_grid {
    padding: 28px 8px 0px 28px;
    h4 {
      color: $darkBlue;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 8px;
    }
    p {
      color: #262d3a;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 14px;
    }
    div {
      display: flex;
      align-items: center;
      flex-direction: column;
      img {
        width: 220px;
        height: 220px;
      }
    }
  }
}

@media only screen and (max-width: 1130px) {
  .cards_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    li {
      background: #fff;
      box-shadow: 0px 24px 54px 0px rgba(0, 104, 174, 0.1);
    }
  }
}

@media only screen and (max-width: 665px) {
  .cards_list {
    .cards_item {
      grid-column: span 2;
      padding: 28px 18px 25px 20px;
  
      .cards_list_left {
        max-width: 325px;
        width: 100%;
  
        h3 {
          font-size: 28px;
          font-weight: 700;
          margin-bottom: 8px;
        }
  
        p {
          font-size: 14px;
          margin-bottom: 30px;
        }
  
        .cards_list_left_span {
          span {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 2px;
          }
  
          p {
            font-size: 13px;
            margin-bottom: 0;
          }
        }
      }
  
      img {
        width: 188px;
        height: 193px;
      }
    }
    .cards_item_grid {
      padding: 20px 8px 0px 20px;
      h4 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 8px;
      }
      p {
        font-size: 13px;
        line-height: normal;
        margin-bottom: 14px;
      }
      div {
        display: flex;
        align-items: center;
        flex-direction: column;
        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .cards_list {
    display: grid;
    grid-template-columns: 1fr;
    .cards_item {
      display: flex;
      flex-direction: column;
      grid-column: span 1;
      padding: 28px;

      .cards_list_left {
        max-width: 500px;
        width: 100%;
        margin-bottom: 15px;
  
        h3 {
          font-size: 28px;
          font-weight: 700;
          margin-bottom: 8px;
        }
  
        p {
          font-size: 14px;
          margin-bottom: 15px;
        }
  
        .cards_list_left_span {
          span {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 2px;
          }
  
          p {
            font-size: 13px;
            margin-bottom: 0;
          }
        }
      }
  
      img {
        max-width: 150px;
        width: 100%;
        height: 150px;
      }
    }
    .cards_item_grid {
      padding: 28px;
      h4 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 8px;
      }
      p {
        font-size: 13px;
        line-height: normal;
        margin-bottom: 14px;
      }
      div {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }
}
